
/* ------------------- */
/* ----- Colors ------ */
/* ------------------- */

.dark-purple{color:#262431}
.bg-dark-purple{background-color: #262431}
.light-purple{color:#2f2c3d}
.bg-light-purple{background-color: #2f2c3d}
.main-green{color: #95c11f}


/* ------------------- */
/* ----- Sliders ------*/
/* ------------------- */
.swiper-container {
    width: 600px;
    height: 300px;
}

.swiper-container {
    position: absolute;
    top: 69px;
    width: 280px;
    left: 44px;
    height: 73%;
}

.swiper-pagination-bullet-active {
    background: #95c11f!important;
}

.phone-container{
    position: relative;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.slider-partenaires{
    overflow: hidden;
}

/* ------------------- */
/*-- Colonnes Atouts --*/
/* ------------------- */

.atouts{
    text-align: center;
    padding: 10px;
}
.atouts i{
    background: #2f2c3d;
    border-radius: 50%;
    padding: 15px;
    color: white;
}

.atouts .text-container h2{
    font-family: 'Raleway', sans-serif;
}