body {
	min-height: 100vh;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


	 	/* FOOTER */
	 
footer {
	 background-color: #1d1b1c;
	 color: white;
	 width: 100%;
	 min-height: 200px;
	 padding: 0px;
	 margin: 0px;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
}

footer article {
	margin-top: 25px;
}

#logofooter {
	height: 70px;
}